
/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
.top{

	font-family: 'Grandstander', cursive;
	font-weight: 900;
	text-align: center;
	background-color: #fcf5ee;

}
p{
	font-family: 'Ubuntu', sans-serif;
}

.text{
	font-weight: 900;

	margin-top: 5%;
	margin-bottom: 5%;
}

#head img{
	/*border: 1px ;*/
	position: absolute;
	/*padding: 1%;*/
	padding-right: 0;
	padding-bottom: 0;
	background-color: #cffffe;
	width: 50%;
	right: 100px;
	top: 20px;
	box-shadow: 5px 10px 8px #ffff;

	-webkit-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
-moz-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
}

#body img{
	/*border-radius: 10px;*/
	width: 25%;
	-webkit-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
-moz-box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
box-shadow: -12px 10px 5px -1px rgba(0,0,0,0.39);
display: inline-block;
float: left;
margin-right: 8%;
}

.desc{
	font-family: 'Grandstander', cursive;
	margin: 5%;
	padding: 5%;
	margin-top: 0;
	margin-bottom:  0;
	line-height: 2;

}
p{
	font-size: 1.0rem;
	font-family: 'Grandstander', cursive;
}

#body{
	padding-top: 2%;
}
.end{
	font-family: 'Grandstander', cursive;
	font-weight: 900;
	text-align: center;
	background-color: #FFD5D3;
	font-size: 200px;
}
.wish{
	padding-top:  2%;

}
.wish h3	{
	/*font-size: 80px;*/
	font-size: 45%;
}

.wish h4	{
	/*font-size: 50px;*/
	font-size: 25%;
}
.train{

	width: 50%;
}
.pic{

	
}

@media (max-width: 998px){
	#head img{
		width: 0px;
		margin: 10%;
	}

	#body img{
		
		float: none;
		width: 220px;
		margin-left: 60px ;

		margin-right: 40px ;
	}

	#body h1{
		font-size: 38px;
	}

	.train{

	width: 380px;
}
#body{
	
	margin-top: 20px;
}

	
}